body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(209, 111, 166, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
img {
  /* tamano de la image */
  height: 120px;
  /* bordes redondeados de la imagen */
  border-radius: 20px;
}

a {
  color: white;
  /* elimina el subrayado y cambio de color en la fuente del href */
  text-decoration: none;
  font-size: 20px;
}

li {
  list-style: none;
}

ol {
  /* sirve para ponerlos uno alado del otro los emenetos */
  display: flex;
  /* hace que los elementos se ajusten al espacio */
  justify-content: space-around;
  /* elimina el formato de la lista */
  list-style: none;
}
