* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}

.content {
  background-color: #cfc5a5;
  border-radius: 20px;
  color: #85603f;
  margin: 0 auto;
  min-height: 500px;
  width: 370px;
}
.content-Wanted h1 {
  align-items: center;
  text-align: center;
  font-size: 7rem;
  margin: 0 8px;
  position: relative;
}
.content-img img {
  border: 2px solid #85603f;
  border-radius: 10px;
  margin: 0 35px;
  position: relative;
  width: 300px;
}

.content-DoA p {
  font-size: 3.4rem;
  position: relative;
  margin: 5px 40px;
}

.content-name h1 {
  font-size: 3.4rem;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 2px 6px;
}

.content-money p {
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 20px;
}

.content-marine {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.content-marine p {
  font-size: 2rem;
  margin: 0 15px;
  position: relative;
}

.content-marine article {
  font-size: 1.1rem;
  margin: 10px;
}
