@media (min-width: 600px) {
  .container-div1 {
    order: 1;
    border-radius: 20px;
    width: 30%;
    margin: 20px;
  }
  .container-div2 {
    order: 2;
    border-radius: 20px;
    margin: 20px 0;
    width: calc(70% - 60px);
  }

  .container-div3 {
    width: 20%;
    height: 480px;
  }
  .container-divs {
    width: 74%;
  }
}
